<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Zheynson</title>
</head>
<body>

<!--HEAD-->

<div class="bg-promo">


  <div class="header-nav">


    <div class="container h-100">
      <div class="d-flex align-items-center h-100">

        <a class="logo mr-auto" href=""><img src="../../assets/img/logo.png" ></a>

        <ul class="nav-menu mb-0">
          <li><a class="nav-li" href="">Home</a></li>
          <li><a class="nav-li" href="">About Us</a></li>
          <li><a class="nav-li" href="">Service</a></li>
          <li><a class="nav-li" href="">Contact</a></li>
        </ul>

        <div class="btn d-flex align-items-center" (click)="openModal(template)">
          <img class="mr-2" src="../../assets/img/man.png" alt="">
          <span >Login</span>
        </div>

      </div>
    </div>
  </div>

  <div class="page-title">
    <span class="first-text"> WELCOME TO PINK </span>
    <span class="second-text">A multi purpose them from css.author.com</span>
  </div>

  <img src="../../assets/img/blic1.png" style="position: absolute;bottom: 294px;left: 786px" class="blick" alt="">
  <img src="../../assets/img/blic2.png" style="position: absolute;bottom: 236px" alt="" class="blick2">
  <img src="../../assets/img/blic3.png" style="position: absolute;bottom: 270px;right:711px" alt="" class="blick3">
</div>

<!--    HEAD END-->

<div class="container ">

  <div class="head-text text-center mt-5">

    <div class="big-text mb-3">
      Lorem ipsum dolor sit amet
    </div>

    <div class="down-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda
      at dicta dolor.<br> Bla hood of the defence betvood mains skills is perfect.
    </div>

  </div>

  <!--CIRCLES START-->

  <div class="circles d-flex  justify-content-between">

    <div class="circle d-flex flex-column align-items-center justify-content-center" style="background-color: #4eb9f4">
      <img src="../../assets/img/tickets.png" alt="">
      <span class="mt-2">Tickets</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ducimus eum fugiat illo impedit ipsam natus.</p>
    </div>

    <div class="circle d-flex flex-column align-items-center justify-content-center" style="background-color: #6fc125">
      <img src="../../assets/img/camera.png" alt="">
      <span class="mt-2">Camera</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ducimus eum fugiat illo impedit ipsam natus.</p>
    </div>

    <div class="circle d-flex flex-column align-items-center justify-content-center" style="background-color: #ff5649">
      <img class="pl-3" src="../../assets/img/beer.png" alt="">
      <span class="mt-2">Beer</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ducimus eum fugiat illo impedit ipsam natus.</p>
    </div>

    <div class="circle d-flex flex-column align-items-center justify-content-center" style="background-color: #e48f23">
      <img src="../../assets/img/iPad.png" alt="">
      <span class="mt-2">Device</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ducimus eum fugiat illo impedit ipsam natus.</p>
    </div>

  </div>
</div>

<!--CIRCLES END-->

<div class="line"></div>

<div class="container">
  <div class="articles">

    <div class="row">

      <div class="col-lg-4">
        <img class="zoom2 w-100" src="../../assets/img/960x960.webp" alt="">
      </div>

      <div class="col-lg-8">

                <span class="one">
                    Lorem ipsum dolor sit amet.
                </span>

        <p class="two">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur culpa deserunt,
          ducimus eaque numquam quae totam voluptates! Accusantium blanditiis dolorem dolorum hic inventore itaque,
          neque nulla placeat quidem repudiandae sequi vel veniam veritatis! Aliquid consequuntur doloremque et eum eveniet fugiat,
          nobis non nulla perferendis placeat possimus, quia quibusdam repellat tenetur totam voluptatibus!
        </p>

      </div>

    </div>

    <div class="row">

      <div class="col-lg-4">
        <img class="zoom1 w-100" src="../../assets/img/960x960%20(1).webp" alt="">
      </div>

      <div class="col-lg-8">

                <span class="one">
                    Lorem ipsum dolor sit amet.
                </span>

        <p class="two">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur culpa deserunt,
          ducimus eaque numquam quae totam voluptates! Accusantium blanditiis dolorem dolorum hic inventore itaque,
          neque nulla placeat quidem repudiandae sequi vel veniam veritatis! Aliquid consequuntur doloremque et eum eveniet fugiat,
          nobis non nulla perferendis placeat possimus, quia quibusdam repellat tenetur totam voluptatibus!
        </p>

      </div>

    </div>

    <div class="row">

      <div class="col-lg-4">
        <img class="zoom w-100" src="../../assets/img/960x960%20(2).webp" alt="">
      </div>

      <div class="col-lg-8">

                <span class="one">
                    Lorem ipsum dolor sit amet.
                </span>

        <p class="two">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur culpa deserunt,
          ducimus eaque numquam quae totam voluptates! Accusantium blanditiis dolorem dolorum hic inventore itaque,
          neque nulla placeat quidem repudiandae sequi vel veniam veritatis! Aliquid consequuntur doloremque et eum eveniet fugiat,
          nobis non nulla perferendis placeat possimus, quia quibusdam repellat tenetur totam voluptatibus!
        </p>

      </div>

    </div>



  </div>
</div>

<!--------------------------FOOOTER START------------------------->

<div class="bg-black">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 footer">

                <span class="title-foot">
                    Sub Menu
                </span>

        <ul class="ml-1">
          <li><a href="">Android</a></li>
          <li><a href="">Apps</a></li>
          <li><a href="">Articles</a></li>
          <li><a href="">Backgrounds</a></li>
          <li><a href="">Blogger</a></li>
          <li><a href="">Books</a></li>
          <li><a href="">Coding</a></li>
        </ul>

      </div>

      <div class="col-lg-2 footer">

                <span class="title-foot">
                    Sub Menu
                </span>

        <ul class="ml-1">
          <li><a href="">Android</a></li>
          <li><a href="">Apps</a></li>
          <li><a href="">Articles</a></li>
          <li><a href="">Backgrounds</a></li>
          <li><a href="">Blogger</a></li>
          <li><a href="">Books</a></li>
          <li><a href="">Coding</a></li>
        </ul>

      </div>

      <div class="col-lg-2 footer">

                <span class="title-foot">
                    Sub Menu
                </span>

        <ul class="ml-1">
          <li><a href="">Android</a></li>
          <li><a href="">Apps</a></li>
          <li><a href="">Articles</a></li>
          <li><a href="">Backgrounds</a></li>
          <li><a href="">Blogger</a></li>
          <li><a href="">Books</a></li>
          <li><a href="">Coding</a></li>
        </ul>

      </div>

      <div class="col-lg-2 footer">

                <span class="title-foot">
                    Sub Menu
                </span>

        <ul class="ml-1">
          <li><a href="">Android</a></li>
          <li><a href="">Apps</a></li>
          <li><a href="">Articles</a></li>
          <li><a href="">Backgrounds</a></li>
          <li><a href="">Blogger</a></li>
          <li><a href="">Books</a></li>
          <li><a href="">Coding</a></li>
        </ul>

      </div>

      <div class="col-lg-4">
        <div class="d-flex justify-content-between">
          <div class="footer-circle d-flex justify-content-center align-items-center">
            <img src="../../assets/img/ball.png" alt="">
          </div>

          <div class="footer-circle d-flex justify-content-center align-items-center">
            <img src="../../assets/img/face.png" alt="">
          </div>

          <div class="footer-circle d-flex justify-content-center align-items-center">
            <img src="../../assets/img/twitter.png" alt="">
          </div>

          <div class="footer-circle d-flex justify-content-center align-items-center">
            <img src="../../assets/img/share.png" alt="">
          </div>
        </div>

        <span class="cop">Copyright © 2009–2013 Cssauthor.com</span>


      </div>




    </div>
  </div>
</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Login</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</ng-template>

</body>
</html>

